@import "~bootstrap/scss/bootstrap";
@import "/resources/scss/partials/variables";

#sidebar {
    width: 300px;
    height: calc(100vh - 67.59px);
    background-color: #354554;
    overflow-y: auto;
}

#main-content,
#main-content-index,
#main-content-show,
#main-content-edit,
#main-content-create {
    width: calc(100vw - 300px);
    height: calc(100vh - 67.59px);
    overflow-y: auto;
}
